@font-face {
    font-family: "Source Sans Pro-Black";
    src: url(SourceSansPro-Black.otf);
}
@font-face {
    font-family: "Source Sans Pro-BlackIt";
    src: url(SourceSansPro-BlackIt.otf);
}
@font-face {
    font-family: "Source Sans Pro-Bold";
    src: url(SourceSansPro-Bold.otf);
}
@font-face {
    font-family: "Source Sans Pro-BoldIt";
    src: url(SourceSansPro-BoldIt.otf);
}
@font-face {
    font-family: "Source Sans Pro-ExtraLight";
    src: url(SourceSansPro-ExtraLight.otf);
}
@font-face {
    font-family: "Source Sans Pro-ExtraLightIt";
    src: url(SourceSansPro-ExtraLightIt.otf);
}
@font-face {
    font-family: "Source Sans Pro-It";
    src: url(SourceSansPro-It.otf);
}
@font-face {
    font-family: "Source Sans Pro-Light";
    src: url(SourceSansPro-Light.otf);
}
@font-face {
    font-family: "Source Sans Pro-LightIt";
    src: url(SourceSansPro-LightIt.otf);
}
@font-face {
    font-family: "Source Sans Pro-Regular";
    src: url(SourceSansPro-Regular.otf);
}
@font-face {
    font-family: "Source Sans Pro-Semibold";
    src: url(SourceSansPro-SemiBold.otf);
}
@font-face {
    font-family: "Source Sans Pro-SemiboldIt";
    src: url(SourceSansPro-SemiBoldIt.otf);
}
